@font-face {
    font-family: 'Dalek';
    src: url('../fonts/Dalek.eot');
    src: url('../fonts/Dalek.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dalek.woff2') format('woff2'),
        url('../fonts/Dalek.woff') format('woff'),
        url('../fonts/Dalek.ttf') format('truetype'),
        url('../fonts/Dalek.svg#Dalek') format('svg');
    font-display: swap;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Dalek';
  display: flex;
  font-size: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  color: #48868e;
}
